# Core Packages
tensorflow==2.16.1          # OR tensorflow-gpu is now included in main package
librosa==0.10.1             # Audioprocessing (Spektrogrammes, Onset Detection)
pretty_midi==0.2.10         # MIDI-Data processing
music21==9.1.0              # Sheetgeneration (MusicXML, MuseScore-Integration)

# Dataprocessing and visualization
numpy==2.2
pandas==2.2.3
matplotlib==3.8.3           # Plots for Spektrogramm/Metrics
seaborn==0.13.2             # statistic visualization

# Preprocessing & Utils
scipy==1.13.0               # Signalprocessing
scikit-learn==1.4.2         # Metrics and datasplitting
tqdm==4.66.2                # progressbar
python-dotenv==1.0.1        # environment variables (.env)

# Experiment-Tracking
mlflow==2.11.3              # Modell-Logging (optional)
tensorboard==2.16.2         # Training visualization

# Development & Testing
jupyterlab==4.1.6           # Notebooks
pytest==8.1.1               # Unit-Tests